<div class="container">
  <h1>Robo<img src="/src/assets/robo-editor.png" />Editor</h1>
  <p class="alert alert-danger" *ngIf="error">{{ error }}</p>
  <form>
    <div class="form-group">
      <label for="content" class="control-label required">Content</label>
      <textarea
        class="form-control"
        name="content"
        [(ngModel)]="content"
        [rows]="isContentSet ? 3 : 15"
        [disabled]="isAnalysing || isContentSet"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="headline" class="control-label required">Headline</label>
      <input
        type="text"
        class="form-control"
        name="headline"
        [(ngModel)]="headline"
        [disabled]="isAnalysing"
      />
    </div>
    <div class="form-group">
      <button
        class="btn btn-primary btn-block"
        (click)="analyse()"
        [disabled]="isAnalysing"
      >
        {{ isAnalysing ? "Analysing..." : "Analyse" }}
      </button>
    </div>
  </form>
  <div class="responses">
    <div class="response" *ngFor="let response of responses">
      <h3>{{ response.headline }} - Score {{ response.score }}</h3>
      <p *ngIf="response.suggestedKeywords.length">
        Suggested keywords:
        <strong
          class="keyword"
          *ngFor="let keyword of response.suggestedKeywords"
          >{{ keyword }}</strong
        >
      </p>
      <p *ngIf="!response.suggestedKeywords.length">No suggestions found</p>
    </div>
  </div>
</div>
